<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>linxinzhe</title>
  <script>
    var _hmt = _hmt || [];
    (function () {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?fd4e357d59d92527abdf800287f530ff";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>
</head>
<body>
<script type="text/javascript">
  window.location.href = "https://www.jianshu.com/u/b27131de0a58";
</script>
</body>
</html>